<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Конфигурация для записи в файл -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/app.log</file> <!-- Путь к файлу -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Уровень логирования для SQL запросов (если используете Hibernate или P6Spy) -->
    <logger name="org.hibernate.SQL" level="DEBUG" />
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="OFF" />

    <!-- Корневой логер -->
    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>

</configuration>

